{% extends "base.htm" %}
{% block title %}Status {% endblock %}
{% block css %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/console.css') }}" rel="stylesheet">
{% endblock %}
{% block nav %}
    {{ super() }}
    <p class="navbar-text navbar-right" id="lastRefresh"></p>
{% endblock %}
{% block content %}
    <script type="text/template" id="user-row">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button type="button" class="btn kick btn-default btn-sm" title="Kick user">
                  <span class="glyphicon glyphicon-eject"></span>
                </button>
                <button type="button" class="btn ban btn-default btn-sm" title="Ban user">
                  <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </td>
        </tr>
    </script>
    {% for name, status in statuses.iteritems() %}
    <div class="server" data-server="{{ name }}">
        <h2><span class="hostname">{{ status.hostname }}</span><small class="pull-right">{{ status.players_humans }} / {{ status.players_max }}</small></h2>
        <h4>Map: <a href="#map" title="Change map...">{{ status.map }}</a></h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Steam ID</th>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Ping</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    <hr/>
    </div>
    {% endfor %}
    <!-- kick modal -->
    <div class="modal fade" id="user-kick-modal" tabindex="-1" role="dialog" aria-labelledby="user-kick-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="user-kick-modal-label">Kick user</h4>
          </div>
          <div class="modal-body">
            <label for="action-reason">Reason:</label>
            <input type="text" autocomplete="off" class="form-control" id="action-reason" placeholder="Leave blank for no reason">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-loading-text="Kicking...">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ban modal -->
    <div class="modal fade" id="user-ban-modal" tabindex="-1" role="dialog" aria-labelledby="user-ban-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="user-ban-modal-label">Ban user</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline" role="form">
              <p><strong>Duration:</strong></p>
              <label class="radio-inline">
                <input type="radio" name="banDurationOptions" id="banDuration1" value="0" checked> Permanent
              </label>
              <label class="radio-inline">
                <input type="radio" name="banDurationOptions" id="banDuration2" value="60"> 1 hour
              </label>
              <label class="radio-inline">
                <input type="radio" name="banDurationOptions" id="banDuration3" value="1440"> 1 day
              </label>
              <label class="radio-inline">
                <input type="radio" name="banDurationOptions" id="banDuration4" value="10080"> 1 week
              </label>
              <label class="radio-inline">
                <input type="radio" name="banDurationOptions" id="banDurationCustom" value="-1"> Minutes:
              </label>
              <input type="number" id="banDurationCustomValue" style="width: 5em" value="0" min="0" max="9999999" autocomplete="off"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-loading-text="Banning...">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <!-- map change modal -->
    <div class="modal fade" id="map-change-modal" tabindex="-1" role="dialog" aria-labelledby="map-change-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="map-change-modal-label">Change map</h4>
          </div>
          <div class="modal-body">
            <label for="new-map">New map name:</label>
            <input type="text" autocomplete="off" class="form-control" id="new-map" placeholder="Enter a map name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-loading-text="Changing...">Confirm</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block prescripts %}
<audio id="cardsound0">
    <source src="http://wowimg.zamimg.com/hearthhead/sounds/VO_EX1_131t_Play_01.ogg" type="audio/ogg">
    <source src="http://wowimg.zamimg.com/hearthhead/sounds/VO_EX1_131t_Play_01.mp3" type="audio/mpeg">
</audio>
<div class="console" id="rcon-console">
    <div class="console-header">
        <div class="row">
            <div class="col-xs-2">
                <a href="#console"><span class="glyphicon glyphicon-chevron-up"></span>Cut the flim flam, give me a console.</a>
            </div>
            <div class="col-xs-8">
                &nbsp;
            </div>
            <div class="col-xs-2 form">
                <select class="form-control input-sm">
                    {% for name, status in statuses.iteritems() %}
                        <option value="{{ name }}">{{ status.hostname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="console-body">
        {% for name, status in statuses.iteritems() %}
            <textarea autocomplete="off" data-server="{{ name }}" readonly style="display: none"></textarea>
        {% endfor %}
        <input type="text" autocomplete="off" class="form-control"></input>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://raw.githubusercontent.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>
    <script src="{{ url_for('static', filename='js/console.js') }}"></script>
    <script>
        function reloadStatus() {
            $.get('/status', function(response) {
                for (name in response) {
                    var status = response[name];
                    var $server = $('div.server[data-server="%s"]'.replace('%s', name));
                    if ($server.length == 0) {
                        continue;
                    }
                    $server.find('tbody > tr').remove();
                    $server.find('h2 > small').text('%1 / %2'.replace('%1', status.players_humans).replace('%2', status.players_max));
                    $server.find('h4 > a[href="#map"]').text(status.map);
                    for (i in status.users) {
                        var $row = $server.find('table > tbody').append($('#user-row').html()).find('tr:last');
                        $row.find('td:nth-child(1)').text(status.users[i]['uniqueid']);
                        $row.find('td:nth-child(2)').text(status.users[i]['name']);
                        $row.find('td:nth-child(3)').text(status.users[i]['adr']);
                        $row.find('td:nth-child(4)').text(status.users[i]['ping']);
                        $row.find('td:nth-child(5)').text(status.users[i]['connected']);
                    }
                }
                $('#lastRefresh').text('Last refresh: ' + (new Date()).toUTCString());
                
                $('button.ban, button.kick').click(function() {
                    var $row = $(this).parents('tr');
                    var uniqueid = $row.find('td:nth-child(1)').text();
                    var name = $row.find('td:nth-child(2)').text();
                    var action = $(this).hasClass('ban') ? 'ban' : 'kick';
                    $('#user-'+action+'-modal')
                    .data('user', {'uniqueid': uniqueid, 'name': name})
                    .data('action', action)
                    .data('server', $row.parents('div.server').attr('data-server'))
                    .modal('show')
                    .find('.modal-title').text((action == 'ban' ? 'Ban' : 'Kick') + ' "' + name + '"');
                });
            }, 'json');
        }
        
        $(function() {
            reloadStatus();
            setInterval(reloadStatus, 10000);
            $.get('/maps', function(response) {
                $('#new-map').typeahead({ source: response });
            }, 'json');
        });
        
        $('a[href="#map"]').click(function() {
            var $server = $(this).parents('div.server');
            var name = $server.attr('data-server');
            var hostname = $server.find('.hostname').text();
            
            $('#map-change-modal')
            .data('server', name)
            .modal('show')
            .find('.modal-title').text('Change map on "' + hostname + '"');
        });
        
        $('#user-kick-modal .modal-footer > .btn-primary').click(function() {
            var $modal = $('#user-kick-modal');
            var reason = $modal.find('input').val();
            var server = $modal.data('server');
            var $btn = $(this);
            $btn.button('loading');
            $.post('/command', {
                'server': server,
                'command': 'kickid ' + $modal.data('user')['uniqueid'] + (reason.length > 0 ? ' "' + reason.replace(/"/g, '\\"') + '"' : '')
            }, function(response) {
                if (response.success) {
                    $modal.find('.modal-title').text('Kick successful.');
                    $('#cardsound0')[0].play();
                } else {
                    $modal.find('.modal-title').text('Error during kick.');
                }
                $btn.button('reset')
                setTimeout(function() { 
                    $modal.modal('hide');
                }, 1000);
            }, 'json');
        });
        
        $('#user-ban-modal .modal-footer > .btn-primary').click(function() {
            var $modal = $('#user-ban-modal');
            var server = $modal.data('server');
            var duration = $('input[name="banDurationOptions"]:checked').val();
            duration = (duration == '-1') ? $('#banDurationCustomValue').val() : duration;
            var $btn = $(this);
            $btn.button('loading');
            $.post('/command', {
                'server': server,
                'command': 'banid ' + duration + ' ' + $modal.data('user')['uniqueid']
            }, function(response) {
                if (response.success) {
                    $modal.find('.modal-title').text('Ban successful.');
                    $('#cardsound0')[0].play();
                } else {
                    $modal.find('.modal-title').text('Error during ban.');
                }
                $btn.button('reset')
                setTimeout(function() { 
                    $modal.modal('hide');
                }, 1000);
            }, 'json');
        });
        
        $('#map-change-modal .modal-footer > .btn-primary').click(function() {
            var $modal = $('#map-change-modal');
            var map = $modal.find('input').val();
            var $btn = $(this);
            $btn.button('loading');
            $.post('/command', {
                'server': $modal.data('server'),
                'command': 'changelevel ' + map
            }, function(response) {
                if (response.success) {
                    $modal.find('.modal-title').text('Level change successful.');
                } else {
                    $modal.find('.modal-title').text('Error changing level.');
                }
                $btn.button('reset')
                setTimeout(function() { 
                    $modal.modal('hide');
                }, 1000);
            }, 'json');
        });
    </script>
{% endblock %}